section {
  margin-left: 20vw;

  @media screen and (max-width: 1100px) {
    margin: 12.5vh 0;
  }

  @media screen and (max-width: 700px) {
    margin: 10vh 0;
  }

  @media screen and (max-width: 550px) {
    margin: 0 0;
  }

  .welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .background-wrapper {
      position: absolute;
      inset: 0; /* prend toute la place du parent */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;

      @media screen and (max-width: 700px) {
        width: 90%;
        height: 100%;
      }

      .background {
        width: 100%;
        height: 100%;
        object-fit: contain;
        animation: rotateBackground 15s linear infinite;
        transform-origin: center; /* rotation autour du centre */
      }
    }

    .presentation {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      height: 100%;
      overflow: hidden;

      &::before {
        content: none !important;
      }

      h1 {
        font-size: 9rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 3px 3px rgba(53, 0, 211, 1);

        @media screen and (max-width: 1100px) {
          font-size: 7.5rem;
        }

        @media screen and (max-width: 700px) {
          font-size: 4.5rem;
        }

        @media screen and (max-width: 450px) {
          font-size: 3rem;
        }
      }

      h3 {
        font-size: 5rem;
        text-shadow: 3px 3px rgba(53, 0, 211, 1);
        text-align: center;

        @media screen and (max-width: 1100px) {
          font-size: 3.5rem;
        }

        @media screen and (max-width: 700px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 450px) {
          font-size: 1.6rem;
        }
      }
    }

    @keyframes rotateBackground {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .about {
    margin-top: 20vh;

    @media screen and (max-width: 1100px) {
      margin: 10vh 5vw 0 5vw;
    }

    h6 {
      font-size: 2.4rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.6rem;
      text-align: justify;
      line-height: 3rem;
    }

    .header-skill {
      font-size: 4rem;
      text-transform: uppercase;
      background: $fifthColor;
      border-radius: 20px;
      margin: 5vh 0;
      padding: 5px;
      color: white;
      text-align: center;
      margin-bottom: 10vh;
      box-shadow: 0px 0px 5px 5px $primaryColor;

      h6 {
        text-decoration: underline overline $primaryColor;
        padding: 5px;
      }

      .skill {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;

        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  .course {
    margin-top: 10vh;

    @media screen and (max-width: 700px) {
      margin: 10vh 0 0 0;
    }

    h2 {
      @media screen and (max-width: 1100px) {
        margin-left: 5vw;
      }
    }

    div {
      font-size: 2rem;
    }

    .timeline {
      position: relative;
      width: 100%;
      margin: 50px auto;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 5px;
        background-color: $primaryColor;
        transform: translateX(-50%);
        border-radius: 50px;
      }
    }

    .timeline-item {
      position: relative;
      width: 50%;
      padding: 10px 20px;
      box-sizing: border-box;

      @media screen and (max-width: 700px) {
        padding: 5px 10px;
      }
    }

    .left {
      left: 0;
      text-align: right;
    }

    .right {
      left: 50%;
      text-align: left;
    }

    .content {
      background-color: #fff;
      padding: 30px;
      border-radius: 6px;
      box-shadow: 0 2px 10px rgba(231, 231, 231, 0.1);
      margin-top: 7vh;
      box-shadow: 7px 7px 5px $thirdColor;
      transition: 0.3s ease-in-out;

      @media screen and (max-width: 1100px) {
        padding: 15px;
        margin-top: 7.5vh;
      }

      @media screen and (max-width: 700px) {
        padding: 5px;
      }

      &:hover {
        box-shadow: 0px 0px 5px 5px $primaryColor;
      }

      h3 {
        color: $primaryColor;
        font-size: 2rem;

        @media screen and (max-width: 1100px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 1100px) {
          font-size: 1.4rem;
        }
      }

      h6 {
        color: black;
        font-weight: bold;
        font-size: 1.8rem;

        @media screen and (max-width: 1100px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 700px) {
          font-size: 1.2rem;
        }
      }

      p {
        color: black;
        font-size: 1.6rem;
        margin-top: 15px;

        @media screen and (max-width: 1100px) {
          font-size: 1.4rem;
          width: 60vw;
        }

        @media screen and (max-width: 700px) {
          font-size: 1rem;
          margin-top: 5px;
        }
      }

      .italic {
        color: gray;
        font-style: italic;
      }
    }

    .left .content::before {
      content: "";
      position: absolute;
      right: 12px;
      border-left: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

      @media screen and (max-width: 700px) {
        right: 5px;
      }
    }

    .right .content::before {
      content: "";
      position: absolute;
      left: 12px;
      border-right: 10px solid #fff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

      @media screen and (max-width: 700px) {
        left: 5px;
      }
    }

    .date {
      position: absolute;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      background-color: $secondaryColor;
      padding: 5px 5vw;
      border-radius: 20px;
      border: 1px solid white;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      white-space: nowrap;
      z-index: 1;

      @media screen and (max-width: 700px) {
        padding: 2.5px 2.5vw;
      }
    }
    .date:first-of-type {
      top: 0;
    }
  }

  .portfolio {
    @media screen and (max-width: 1100px) {
      margin-left: 5vw;
    }

    .example {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      gap: 10px;

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      .model,
      .gaming-campus,
      .api,
      .todo,
      .arcadia,
      .crypto,
      .library,
      .stream-team {
        width: 95%;
        background-color: $fifthColor;
        padding: 10px;
        border-radius: 20px;
        transition: opacity 0.3s ease-in transform 0.3s ease-in;

        &:hover {
          transform: scale(1.05);
          border: 2px solid $primaryColor;
          box-shadow: 0px 0px 20px 5px $primaryColor;
        }

        img {
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          @media screen and (max-width: 700px) {
            opacity: 1;
          }
        }
      }

      h3 {
        color: white;
        border: solid 2px $primaryColor;
        text-align: center;
        margin-bottom: 10px;
        font-size: 2.4rem;
        text-transform: uppercase;
        border-radius: 20px;

        @media screen and (max-width: 700px) {
          font-size: 1.8rem;
        }
      }

      img {
        width: 100%;
        height: 45vh;
        object-fit: cover; /* remplit sans déformer */
        object-position: top;
        border-radius: 20px;
        opacity: 0.5;
        transition: opacity 0.3s ease-in;

        @media screen and (max-width: 700px) {
          height: 40vh;
        }

        @media screen and (max-width: 700px) {
          height: 30vh;
        }
      }

      h6 {
        font-size: 2rem;
        text-decoration: underline overline $primaryColor;
        text-align: center;
        margin: 10px;

        @media screen and (max-width: 700px) {
          font-size: 1.6rem;
        }
      }

      p {
        font-size: 1.8rem;
        text-align: center;

        @media screen and (max-width: 700px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: flex-start; // <-- aligne en haut, pas au milieu
    overflow-y: auto; // permet de scroller
    z-index: 1000;

    img {
      max-width: 90%;
      max-height: 90%;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    }
    .carousel-image {
      width: 60vw;
      height: auto;
      object-fit: contain; // conserve les proportions
      object-position: top; // commence en haut
      border-radius: 0;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
      max-width: 100%;
      max-height: none;
      margin-top: 0;
    }
  }

  .close,
  .prev,
  .next {
    position: fixed; // <-- change absolute en fixed
    font-size: 2em;
    cursor: pointer;
    user-select: none;
    z-index: 2000; // au-dessus de l’image
    color: white;
  }

  .close {
    top: 20px;
    right: 30px;
  }
  .prev {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .next {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .center-of-interet {
    margin-top: 10vh;

    @media screen and (max-width: 1100px) {
      margin-left: 5vw;
    }

    h2 {
      width: 50vw;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      height: 25vh;
      width: 100%;
      box-shadow: 0px 0px 5px 5px $primaryColor;
      margin: 3vh 0 3vh 0;
    }

    h6 {
      font-size: 4rem;
    }

    .car {
      background: url(../pictures/car.webp) no-repeat;
      background-size: cover;
      background-position-y: 30%;
      opacity: 20;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .techno {
      background: url(../pictures/techno.webp) no-repeat;
      background-size: cover;
      background-position-y: 60%;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .read {
      background: url(../pictures/read.webp) no-repeat;
      background-size: cover;
      background-position-y: 60%;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .music {
      background: url(../pictures/music.webp) no-repeat;
      background-size: cover;
      background-position-y: 60%;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }

    .basket {
      background: url(../pictures/basket.webp) no-repeat;
      background-size: cover;
      background-position-y: 70%;
      transition: transform 0.5s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .form-contact {
    @media screen and (max-width: 1100px) {
      margin-left: 5vw;
    }
    h2 {
      margin-top: 10vh;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $fifthColor;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 5px $primaryColor;

      label,
      input,
      textarea {
        color: white;
      }

      label {
        padding: 5px 0 5px 0;

        font-size: 2rem;
        text-transform: uppercase;
      }

      input {
        height: 7.5vh;
        border-radius: 20px;
        font-size: 2rem;
        color: $primaryColor;
        text-align: center;
        border: solid 2px $primaryColor;
      }

      textarea {
        resize: none;
        border-radius: 20px;
        min-height: 25vh;
        font-size: 2rem;
        color: $primaryColor;
        border: solid 2px $primaryColor;
        text-align: justify;
        max-width: 40vw;
        padding: 15px;
        box-sizing: border-box;

        @media screen and (max-width: 1100px) {
          max-width: 60vw;
        }

        @media screen and (max-width: 700px) {
          max-width: 75vw;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        margin: 20px 0 20px 0;
        width: 40vw;

        @media screen and (max-width: 1100px) {
          width: 60vw;
        }

        @media screen and (max-width: 700px) {
          width: 75vw;
        }
      }

      .submit {
        input {
          background-color: $primaryColor;
          border: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: white;
            color: $primaryColor;
            border: solid 2px $primaryColor;
          }
        }
      }
    }
  }

  .reveal-left {
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
    transform: translateX(-200px);
  }

  .reveal-right {
    opacity: 0;
    transition: opacity 0.5s ease, transform 1s ease;
    transform: translateX(200px);
  }

  .reveal-left.visible,
  .reveal-right.visible {
    opacity: 1;
    transform: none;
  }

  @media screen and (max-width: 700px) {
    .reveal-left,
    .reveal-right {
      transition: opacity 0.3s ease-in;
      transform: none;
    }
  }
}

hr {
  margin: 10vh 0 10vh 20vw;
  border: solid 5px white;
  border-radius: 20px;

  @media screen and (max-width: 1100px) {
    margin-left: 5vw;
  }
}
